.industryCards {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16);
  min-width: var(--min-w-265);
  max-width: var(--max-w-288);
  text-align: left;
  font-size: var(--fs-24);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-sf-pro);
}
.industryDividersIcon {
  align-self: stretch;
  height: var(--height-280);
  position: relative;
  border-radius: var(--br-12);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.industryContainer,
.industryDetails {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-24);
}
.industryDetails {
  gap: var(--gap-8);
}
.electricidad {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.disponibleParaDelivery,
.masDe160 {
  align-self: stretch;
  position: relative;
  opacity: var(--opacity-0_6);
}
.masDe160 {
  margin: 0;
}
.disponibleParaDelivery {
  font-size: var(--fs-16);
  letter-spacing: -0.01em;
  line-height: 120%;
}
.detailActions {
  cursor: pointer;
  border: 0;
  padding: var(--padding-10);
  background-color: var(--color-gray-300);
  border-radius: var(--br-8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.detailActions:hover {
  background-color: var(--color-dimgray);
}
.verMasDetalles {
  position: relative;
  font-size: var(--fs-16);
  letter-spacing: -0.01em;
  line-height: 120%;
  font-family: var(--font-sf-pro);
  color: var(--color-gray-100);
  text-align: left;
}
@media screen and (max-width: 750px) {
  .industryCards {
    min-width: 0;
    max-width: min(100%, 400px);
    width: 100%;
    flex: 0 1 auto;
    align-self: center;
  }
}

@media screen and (max-width: 450px) {
  .electricidad {
    font-size: var(--fs-19);
    line-height: var(--lh-23);
  }
  .masDe160 {
    font-size: var(--fs-16);
    line-height: var(--lh-19);
  }
}
